.bdsft-webrtc
  .cell.cell-fullScreen.classes
    .fullscreenExpand.icon.fadeable
      a.icon-fullscreenExpand(href='', title='Expand Full Screen')
    .fullscreenContract.icon.fadeable
      a.icon-fullscreenContract(href='', title='Contract Full Screen')

