.bdsft-webrtc .enableFullscreen:not(.fullscreen-shown) .fullscreenExpand,
.bdsft-webrtc .enableFullscreen.fullscreen-shown .fullscreenContract {
  transition: all 1s linear;
  opacity: 1;
  z-index: 20;
}
.bdsft-webrtc .enableFullscreen.fullscreen-shown .fullscreenExpand,
.bdsft-webrtc .enableFullscreen:not(.fullscreen-shown) .fullscreenContract {
  transition: all 1s linear;
  opacity: 0;
  z-index: -1;
}
.bdsft-webrtc :not(.enableFullscreen).cell-fullScreen {
  display: none !important;
}
.bdsft-webrtc .conference .fullscreenExpand,
.bdsft-webrtc .conference .fullscreenContract {
  text-align: left !important;
}
.bdsft-webrtc .audioOnly .fullscreenExpand,
.bdsft-webrtc .audioOnly .fullscreenContract,
.bdsft-webrtc .audioOnly .cell-fullScreen {
  display: none !important;
}
