.bdsft-webrtc
  .cell-fullScreen
    &.enableFullscreen:not(.fullscreen-shown) .fullscreenExpand,
    &.enableFullscreen.fullscreen-shown .fullscreenContract
      {fadeIn}

    &.enableFullscreen.fullscreen-shown .fullscreenExpand,
    &.enableFullscreen:not(.fullscreen-shown) .fullscreenContract
      {fadeOut}  

    &:not(.enableFullscreen)
      display none !important
      
    &.conference .fullscreenExpand, 
    &.conference .fullscreenContract
      text-align left !important

    &:not(.sendVideo):not(.receiveVideo) .fullscreenExpand, 
    &:not(.sendVideo):not(.receiveVideo) .fullscreenContract,
    &:not(.sendVideo):not(.receiveVideo)
      display none !important
